<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--拦截器-->
    <mvc:default-servlet-handler/>
    <!--开启mvc注解驱动-->
    <mvc:annotation-driven/>
    <!--只扫描@Controller注解-->
    <context:component-scan base-package="com.ml.web.controller"/>
    <context:component-scan base-package="com.ml.settings.web.controller"/>
    <context:component-scan base-package="com.ml.workbench.web.controller"/>
    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/setting/**"/>
            <mvc:mapping path="/workbench/**"/>
            <mvc:exclude-mapping path="/settings/qx/user/toLogin.do"/>
            <mvc:exclude-mapping path="/settings/qx/user/login.do"/>
            <bean class="com.ml.settings.web.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--    配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--    &lt;!&ndash;    配置thymeleaf模版解析器&ndash;&gt;-->
    <!--    <bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">-->
    <!--        <property name="prefix" value="/WEB-INF/pages/"/>-->
    <!--        <property name="suffix" value=".html"/>-->
    <!--        <property name="templateMode" value="HTML"/>-->
    <!--        <property name="cacheable" value="false"/>-->
    <!--        <property name="characterEncoding" value="UTF-8"/>-->
    <!--    </bean>-->
    <!--    &lt;!&ndash;模版引擎&ndash;&gt;-->
    <!--    <bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">-->
    <!--        <property name="templateResolver" ref="templateResolver"/>-->
    <!--        <property name="enableSpringELCompiler" value="true"/>-->
    <!--    </bean>-->
    <!--    &lt;!&ndash;视图解析器&ndash;&gt;-->
    <!--    <bean id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">-->
    <!--        <property name="templateEngine" ref="templateEngine"/>-->
    <!--        <property name="characterEncoding" value="UTF-8"/>-->
    <!--    </bean>-->
</beans>